<% if current_user && post.favorited?(current_user) %>
  <%= link_to post_favorites_path(post.id), method: :delete, remote: true, class: "text-danger", data: { post_id: post.id } do %>
    <i class="fas fa-heart"></i>
    <span><%= post.favorites.count %></span>
  <% end %>
<% else %>
  <%= link_to post_favorites_path(post.id), method: :post, remote: true, class: "text-secondary", data: { post_id: post.id } do %>
    <i class="far fa-heart"></i>
    <span><%= post.favorites.count %></span>
  <% end %>
<% end %>