<header class="header">
  <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
    <%= link_to root_path, class: 'header-brand' do %>
      <%= image_tag 'linkedin_banner_image_1.png', size: '200x100'%>
    <% end %>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto main-nav align-items-center">
        <li class="nav-item mr-2">
          <%= link_to login_path, class: 'nav-link' do %>
            <i class="fa fa-sign-in-alt"></i> <%= t('defaults.login') %>
          <% end %>
        </li>
      </ul>
    </div>
  </nav>
</header>