<footer class="footer mt-4">
  <ul class="footer-ul d-flex justify-content-center ps-0 mb-3">
    <li class="footer-li"><%= link_to '利用規約', terms_path, class: 'footer-link' %></li>
    <li class="footer-li"><%= link_to 'プライバシー', privacy_path, class: 'footer-link' %></li>
    <li class="footer-li"><%= link_to 'お問い合わせ', 'https://docs.google.com/forms/d/e/1FAIpQLSfll1BCZjVD5d81YWlbMK8Q-qxNL7YjUMchAvIXiMlseIp8rQ/viewform?usp=sf_link' ,class: 'footer-link', target: '_blank' %></li>
  </ul>
  <div class="footer-copyright text-center mb-4">
    &copy; Planet
  </div>
</footer>