<div class="container stylish-container">
  <h1 class="page-title mt-5">Planetの使い方</h1>

  <section class="how-to-section">
    <h2 class="section-title mt-5">プランの作成と共有</h2>
    <p class="section-text">ログイン後、ヘッダーから「投稿追加」ボタンをクリックしてプランを作成します...また、季節欄の入力は必須ではありません。</p>
    <a href="https://gyazo.com/1b09320fbef9ddab69f380457dd95cf4" class="video-link">
      <video class="embedded-video" autoplay muted loop playsinline controls>
        <source src="https://i.gyazo.com/1b09320fbef9ddab69f380457dd95cf4.mp4" type="video/mp4"/>
      </video>
    </a>
  </section>

  <section class="how-to-section">
    <h2 class="section-title mt-5">プランにタイムスケジュールを追加</h2>
    <p class="section-text">投稿追加後、投稿一覧から投稿詳細画面をクリックして、画面右側にあるタイムスケジュールを追加します...他のユーザーとタイムスケジュールを共有できます。</p>
    <a href="https://gyazo.com/fc6be510ff7d18e0fb35bf6c81490c6a" class="video-link">
      <video class="embedded-video" autoplay muted loop playsinline controls>
        <source src="https://i.gyazo.com/fc6be510ff7d18e0fb35bf6c81490c6a.mp4" type="video/mp4"/>
      </video>
    </a>
  </section>

  <section class="how-to-section">
    <h2 class="section-title mt-5">プランの検索</h2>
    <p class="section-text">投稿一覧から、キーワードや都道府県、季節などに応じて検索をかけることができます。</p>
    <a href="https://gyazo.com/73eb98717f0f22596d909df05a252e91" class="video-link">
      <video class="embedded-video" autoplay muted loop playsinline controls>
        <source src="https://i.gyazo.com/73eb98717f0f22596d909df05a252e91.mp4" type="video/mp4"/>
      </video>
    </a>
  </section>
</div>