$('.schedules').append("<div class="p-2"><div class="schedule-card border bg-white"><p class="time-schedule"><%= l schedule.time_stamp, format: :short %></p><p class="time-schedule"><%= schedule.plan %></p></div></div>");
$('.js-form')[0].reset();