<div class="p-2"  id=<%= "schedule-#{schedule.id}" %>>
  <div class="schedule-card border bg-white m-2 px-2 pt-2">
    <p class="time-schedule">
      <%= l schedule.time_stamp, format: :short %>
    </p>

    <div class="d-flex justify-content-between"> 
      <p class="time-schedule">
        <%= schedule.plan %>
      </p>

      <% if @post.user == current_user %>
        <div class="text-inline-item">
          <%= link_to t('posts.show.Destroy'), post_time_schedule_path(@post, schedule), method: :delete, remote: true, data: {confirm: "削除しますか？"}, id: 'destroy' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
