// 全体フォント
.header {
  font-family: 'DotGothic16', sans-serif;
}
.container {
  font-family: 'DotGothic16', sans-serif;
}
.container-fluid {
  font-family: 'DotGothic16', sans-serif;
}
// SignUpページ、ログインページ
.card-form {
  background-color: lightgray;

  &-content {
    border-radius: 25px;
    background-color: #fff;
  }
}

// フッター
.footer {
  
  &-li {
    list-style: none;
  }

  &-link {
    color: gray;
    text-decoration: none;
    font-size: 0.84em;
    transition-property: color;
    transition-duration: .2s;
    display: block;
    margin: 0 10px;

    &:hover {
      color: rgb(103, 103, 103) !important;
    }
  }
  
  &-copyright {
    color: gray;
    font-size: 0.84em;
  }
}

// ユーザーのボタンurl
.user-btn {
  position: absolute;
  top: 15px;
  right: 20px;
}

//　投稿一覧リンク
.post-link {
  text-decoration: none;
  color: black; 
}

//　投稿一覧ページ
.post-list-container{
  background-color: lightgray;
}

.card-img-top {
  width: 100%; /* 横幅を100%に設定 */
  height: 170px; /* 任意の高さに設定 */
  object-fit: cover; /* 画像を横幅と高さに合わせて表示し、余白はクリップ */
}

.card-title {
  height: 90px; /* 任意の高さに設定 */
}

//検索結果ページ
.search-results-container {
  min-height: 800px; /* 任意の最小高さを指定 */
}
// 投稿詳細タイトル表示
.show-card{
  height: 200px;
}

.show-text-start{
  font-size: 20px;
}

.post-detail-title{
  color: #001f3f;
}

.time-schedule-title{
  color: #e74c3c;
}

// 投稿詳細画面
.post-detail{
  background-color: lightgray;
}

.plan-detail-card{
  background-color: #b5d0e8;
}

.circle{
  width: 60px;
  height: 24px;
  border-radius: 12px;
  background: #e0e0e0;
}

.time{
  position: relative;
  left: 5px;
}

.budget{
  position: relative;
  left: 12px;
}

.time-schedule-card{
  background-color: #f2b3b9;
  min-height: 400px; /* 任意の最小高さを指定 */
}

//　プロフィール詳細
.profile-container{
  background-color: lightgray;
}

.profile-card{
  background-color: #b5d0e8;
}

//ページネーション
.pagination {
  justify-content: center;
  margin-top: 20px;
}

// ボタンのスタイル
.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  border-radius: 25px;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
  width: 300px; // ボタンの横幅を指定 
}

// デフォルトのボタンスタイル 
.button-default {
  background-color: #3498db;
  color: #ffffff;
  border: 2px solid #3498db;
}

// ホバーエフェクト 
.button-default:hover {
  background-color: #ffffff;
  color: #3498db;
  box-shadow: 0 0 10px rgba(52, 152, 219, 0.5);
}

// リンクのスタイル 
.fancy-link {
  color: #3498db;
  text-decoration: none;
  position: relative;
}

.fancy-link:hover {
  color: #e74c3c;
}

.fancy-link::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #3498db;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.fancy-link:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

// 任意のピクセル数で角を丸める
.rounded-card {
  border-radius: 10px;
}