// 投稿追加フォーム
.card-custom {
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

.card-header-custom {
  background-color: #007bff;
  color: black;
  padding: 10px 15px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-weight: bold;
}

.form-control-custom {
  border-radius: 4px;
  border: 1px solid #ced4da;
}

.add-schedule-btn {
  margin-top: 15px;
  display: inline-block;
  background-color: #28a745;
  color: #fff;
  border-radius: 20px;
  padding: 5px 15px;
  cursor: pointer;
}

.add-schedule-btn:hover {
  background-color: #218838;
}

.remove-schedule {
  margin-top: 10px;
  color: #dc3545;
  cursor: pointer;
}

.remove-schedule:hover {
  text-decoration: underline;
}

//　投稿一覧リンク
.post-link {
  text-decoration: none;
  color: black; 
}

//　投稿一覧ページ
.post-list-container{
  background-color: lightgray;
  min-height: 800px; /* 任意の最小高さを指定 */
}

.card-img-top {
  width: 100%; /* 横幅を100%に設定 */
  height: 170px; /* 任意の高さに設定 */
  object-fit: cover; /* 画像を横幅と高さに合わせて表示し、余白はクリップ */
}

.card-title {
  height: 90px; /* 任意の高さに設定 */
}

// 投稿詳細タイトル表示
.show-card{
  height: 200px;
  display: flex;
}

.show-text-start{
  font-size: 20px;
}

.post-detail-title{
  color: #001f3f;
}

.time-schedule-title{
  color: #e74c3c;
}

// 投稿詳細画面
.post-detail{
  background-color: lightgray;
}

.plan-detail-card{
  background-color: #b5d0e8;
}

.circle{
  width: 60px;
  height: 24px;
  border-radius: 12px;
  background: #e0e0e0;
}

.time{
  position: relative;
  left: 5px;
}

.budget{
  position: relative;
  left: 12px;
}

.time-schedule-card{
  background-color: #f2b3b9;
  min-height: 400px; /* 任意の最小高さを指定 */
}
.btn-custom {
  background: linear-gradient(45deg, #64B5F6, #2196F3); /* 青色のグラデーション */
  color: #fff; /* テキストの色 */
  border: none; /* ボーダーを削除 */
  padding: 10px 20px; /* パディングを調整 */
  border-radius: 5px; /* 角丸の追加 */
  box-shadow: 0 2px 4px rgba(33, 150, 243, 0.5); /* 影の微調整 */
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s; /* トランジション効果の追加 */
  cursor: pointer; /* カーソルをポインターに */
  font-weight: bold; /* フォントの太さ */
  letter-spacing: 1px; /* 文字間隔の調整 */
}

.btn-custom:hover, .btn-custom:focus {
  background: linear-gradient(45deg, #2196F3, #1565C0); /* ホバー時のグラデーション */
  color: #ffffff; /* ホバー時のテキスト色を保持 */
  box-shadow: 0 2px 8px rgba(33, 150, 243, 0.8); /* ホバー時の影の微調整 */
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 2px 4px rgba(33, 150, 243, 0.5);
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 2px 8px rgba(33, 150, 243, 0.8);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 2px 4px rgba(33, 150, 243, 0.5);
  }
}

.btn-custom:hover {
  animation: pulse 1s infinite; /* アニメーションの追加 */
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

//　ページネーション
.pagination {
  justify-content: center;
  margin-top: 20px;
}

// 検索フォーム
.custom-search-form .form-control, .custom-search-form .form-select {
  border-radius: 0.375rem;
  background-color: #f7f7f7;
  border: 1px solid #d1d1d1;
  transition: all 0.3s ease-in-out;
}

.custom-search-form .form-control:focus, .custom-search-form .form-select:focus {
  background-color: #ffffff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom-search-form .form-label {
  font-weight: 600;
  color: #343a40;
}

.custom-search-form .btn-primary {
  background-color: #17a2b8;
  border-color: #17a2b8;
  box-shadow: none;
}

.custom-search-form .btn-primary:hover {
  background-color: #138496;
  border-color: #117a8b;
}

.custom-search-form .card {
  background-color: #ffffff;
  border-radius: 0.5rem;
  border: 1px solid rgba(0,0,0,.125);
}

.custom-search-form .card-title {
  color: #007bff;
}

.search-description {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #6c757d;
}

@media (max-width: 576px) {
  .search-description {
    margin-bottom: 15px;
  }
}

// ユーザーのボタンurl
.user-btn {
  position: absolute;
  top: 15px;
  right: 20px;
}

.genre-border {
  border: 1px solid;
  padding: 0.5rem;
  border-radius: 0.25rem;
  color: black;
}

//
.bg-color-red {
  background-color: red;
  color: white;
  border-radius: 10px;
  padding: 3px;
}
.bg-color-orange {
  background-color: orange;
  color: white;
  border-radius: 10px;
  padding: 3px;
}
.bg-color-yellow {
  background-color: #ffd700;
  color: white;
  border-radius: 10px;
  padding: 3px;
}
.bg-color-green {
  background-color: green;
  color: white;
  border-radius: 10px;
  padding: 3px;
}
.bg-color-blue {
  background-color: blue;
  color: white;
  border-radius: 10px;
  padding: 3px;
}
.bg-color-purple {
  background-color: purple;
  color: white;
  border-radius: 10px;
  padding: 3px;
}
.bg-color-gray {
  background-color: gray;
  color: white;
  border-radius: 10px;
  padding: 3px;
}

//
.genre-container {
  display: inline-flex;
  align-items: center;
  margin: 2px;
}
